#multi-add-btn{
    width: 16px;
    height: 16px;
    cursor: pointer;
}
#multiTemplate{
    display: none;
}

.multiValue{
    color:#4285F4;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    line-height: 50px;
    margin-right: 5px;
    width: 100%;
}